.menu-categorie:nth-child(1) .card {
    animation: appearEntrance 1.5s ease forwards;
    opacity: 0;
  }

  @keyframes appearEntrance {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }